/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mix */
body {
  font-family: 'Lato', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

ul.list_inline {
  list-style: none;
  display: flex;
  align-items: center;
}

.page_wrapper {
  height: 100vh;
  background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(219,219,210,1) 15%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 950px;
  width: 85%;
  height: 95%;
}

.avatar {
  height: 50px;
  border-radius: 50%;
}

h3 {
  font-size: 16px;
}

/* colonna sinistra */
.col_left {
  float: left;
  width: 35%;
  height: 100%;
}

header#header_left {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #EAEAEA;
  padding: 0 10px;
}

.utente {
  display: flex;
  align-items: center;
}

#header_left a {
  color: #B1B1B1;
  font-size: 20px;
}

#header_left li {
  margin: 0 10px;
}

.notifications {
  height: 90px;
  background-color: #8EDAFC;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bell_container {
  margin: 0 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bell_container i {
  color: #8EDAFC;
  font-size: 24px;
}

.notifications h4 {
  font-size: 14px;
  margin-top: 5px;
}

.notifications h4 a {
  color: #578194;
}
/* fine colonna sinistra */
/* colonna destra */
.col_right {
  float: left;
  width: 65%;
  height: 100%;
}
/* fine colonna destra */
