/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mix */
body {
  font-family: 'Lato', sans-serif;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

ul.list_inline {
  list-style: none;
  display: flex;
  align-items: center;
}

.page_wrapper {
  height: 100vh;
  background: linear-gradient(180deg, rgba(0,150,136,1) 15%, rgba(219,219,210,1) 15%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 950px;
  width: 85%;
  height: 95%;
}

h3 {
  font-size: 16px;
}

/* colonna sinistra */
.col_left {
  float: left;
  width: 35%;
  height: 100%;
}

/* header sinistra */
header#header_left {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #EAEAEA;
  padding: 0 10px;
}

.utente {
  display: flex;
  align-items: center;
}

#header_left a {
  color: #B1B1B1;
  font-size: 20px;
}

#header_left li {
  margin: 0 10px;
}

.avatar_utente {
  height: 50px;
  border-radius: 50%;
}
/* fine header sinistra */
/* notifiche */

.notifications {
  height: 90px;
  background-color: #8EDAFC;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bell_container {
  margin: 0 10px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bell_container i {
  color: #8EDAFC;
  font-size: 24px;
}

.notifications h4 {
  font-size: 14px;
  margin-top: 5px;
}

.notifications h4 a {
  color: #578194;
}
/* fine notifiche */
/* sezione ricerca */

.search {
  background-color: #F8F8F8;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  color: #B1B1B1;
}

.search_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 60px;
  height: 30px;
}

input.search_input {
  width: calc(100% - 60px);
  height: 30px;
  border: none;
  outline: none;
}
/* fine sezione ricerca */
/* sezione contatti */
.contacts {
  height: calc(100% - 50px - 90px - 70px);
  background-color: white;
  overflow-y: scroll;
  list-style: none;
}

.contact {
  height: 80px;
  padding: 10px 15px;
  display: flex;
  cursor: pointer;
}

.contact:active {
  background-color: #EAEAEA;
}

.avatar_container {
  align-self: center;
}

.avatar_container img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

/* fine sezione contatti */
/* fine colonna sinistra */

/* colonna destra */
.col_right {
  float: left;
  width: 65%;
  height: 100%;
}
/* fine colonna destra */
